#sidebar {
  background-color: #ffffff;
  position: fixed;
  right: 0px;
}

.processes {
  background-color: #ffeeee;
}

.installed_packages {
  background-color: #eeffee;
}

.uninstalled_packages {
  background-color: #eeeeff;
}

.enabled_packages {
  background-color: #eeffff;
}

.disabled_packages {
  background-color: #ffeeff;
}

.system_packages {
  background-color: #ffffee;
}

.third_party_packages {
  background-color: #f0f0f0;
}

table {
//  background-color: #eeeeee;
//    border: 1px solid;
    margin: 0px;
    padding: 0px;
}

td {
    border: 1px solid;
    margin: 0px;
    padding: 0px;
    border-color: #dddddd;
}
